@model ComputerShop.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <img src="@Url.Content($"~/images/{Model.Image}")" style="width: 400px"/>
        </div>
        <div class="col-md-6">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input id="quantiy" type="number" />
            </div>

            <button type="button" class="btn btn-primary">Add to cart</button>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
