@model ComputerShop.ViewModels.RecommendationViewModel

@{
  ViewData["Title"] = "Index";
}

<h2>Recommender</h2>
<hr class="my-2"/>
<div class="row">
  <div class="col-md-6">
    <h4 class="mb-4">Enter wanted computer specifications</h4>
    <form asp-action="Index">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      @*<div class="row">
          <div class="col-4 form-group">
            <label asp-for="RequestedComputer.ScreenSize" class="control-label">Screen size (inches)</label>
            <input asp-for="RequestedComputer.ScreenSize" class="form-control" />
            <span asp-validation-for="RequestedComputer.Cores" class="text-danger"></span>
          </div>
          <div class="col-3 form-group my-auto">
          <input asp-for="ScreenSizeNotImportant" type="checkbox" class="form-check-input" id="screenSizeCheckbox" />
          <label for="screenSizeCheckbox" class="form-check-label">Not important</label>
        </div>
          <div class="col-4 pr-0 form-group">
            <label asp-for="ScreenSizePriority">Priority</label>
            <input asp-for="ScreenSizePriority" min="10" max="60" step="10" value="20" type="range" class="form-control-range" id="screenSizePriority">
          </div>
          <div class="col-1 my-auto">
            <p id="screenSizePriorityValueLabel">
              20%
            </p>
          </div>
        </div>*@
      <div class="row">
        <div class="col-4 form-group">
          <label asp-for="RequestedComputer.Cores" class="control-label">Amount of cores</label>
          <input asp-for="RequestedComputer.Cores" class="form-control" id="coresInput" />
          <span asp-validation-for="RequestedComputer.Cores" class="text-danger"></span>
        </div>
        <div class="col-3 form-group my-auto">
          <input asp-for="CoresNotImportant" type="checkbox" class="form-check-input" id="coresCheckbox" />
          <label for="coresCheckbox" class="form-check-label">Not important</label>
        </div>
        <div class="col-4 pl-0 pr-0 form-group">
          <label asp-for="CorePriority">Priority</label>
          <input asp-for="CorePriority" min="10" max="60" step="10" value="20" type="range" class="form-control-range" id="corePriority">
        </div>
        <div class="col-1 my-auto">
          <p id="corePriorityValueLabel">
            20%
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 form-group">
          <label asp-for="RequestedComputer.ClockSpeed" class="control-label">Clock speed (GHz)</label>
          <input asp-for="RequestedComputer.ClockSpeed" class="form-control" id="clockSpeedInput" />
          <span asp-validation-for="RequestedComputer.ClockSpeed" class="text-danger"></span>
        </div>
        <div class="col-3 form-group my-auto">
          <input asp-for="ClockSpeedNotImportant" type="checkbox" class="form-check-input" id="clockSpeedCheckbox" />
          <label for="clockSpeedCheckbox" class="form-check-label">Not important</label>
        </div>
        <div class="col-4 pl-0 pr-0 form-group">
          <label asp-for="ClockSpeedPriority">Priority</label>
          <input asp-for="ClockSpeedPriority" min="10" max="60" step="10" value="20" type="range" class="form-control-range" id="clockSpeedPriority">
        </div>
        <div class="col-1 my-auto">
          <p id="clockSpeedPriorityValueLabel">
            20%
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 form-group">
          <label asp-for="RequestedComputer.RAM" class="control-label">RAM (GB)</label>
          <input asp-for="RequestedComputer.RAM" class="form-control" id="ramInput" />
          <span asp-validation-for="RequestedComputer.RAM" class="text-danger"></span>
        </div>
        <div class="col-3 form-group my-auto">
          <input asp-for="RAMNotImportant" type="checkbox" class="form-check-input" id="ramCheckbox" />
          <label for="ramCheckbox" class="form-check-label">Not important</label>
        </div>
        <div class="col-4 pl-0 pr-0 form-group">
          <label asp-for="RAMPriority">Priority</label>
          <input asp-for="RAMPriority" min="10" max="60" step="10" value="20" type="range" class="form-control-range" id="ramPriority">
        </div>
        <div class="col-1 my-auto">
          <p id="ramPriorityValueLabel">
            20%
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 form-group">
          <label asp-for="RequestedComputer.Storage" class="control-label">Storage (GB)</label>
          <input asp-for="RequestedComputer.Storage" class="form-control" id="storageInput" />
          <span asp-validation-for="RequestedComputer.Storage" class="text-danger"></span>
        </div>
        <div class="col-3 form-group my-auto">
          <input asp-for="StorageNotImportant" type="checkbox" class="form-check-input" id="storageCheckbox" />
          <label for="storageCheckbox" class="form-check-label">Not important</label>
        </div>
        <div class="col-4 pl-0 pr-0 form-group">
          <label asp-for="StoragePriority">Priority</label>
          <input asp-for="StoragePriority" min="10" max="60" step="10" value="20" type="range" class="form-control-range" id="storagePriority">
        </div>
        <div class="col-1 my-auto">
          <p id="storagePriorityValueLabel">
            20%
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 form-group">
          <label asp-for="RequestedComputer.Price" class="control-label">Kaina (€)</label>
          <input asp-for="RequestedComputer.Price" class="form-control" id="priceInput" />
          <span asp-validation-for="RequestedComputer.Price" class="text-danger"></span>
        </div>
        <div class="col-3 form-group my-auto">
          <input asp-for="PriceNotImportant" type="checkbox" class="form-check-input" id="priceCheckbox" />
          <label for="priceCheckbox" class="form-check-label">Not important</label>
        </div>
        <div class="col-4 pl-0 pr-0 form-group">
          <label asp-for="PricePriority">Priority</label>
          <input asp-for="PricePriority" min="10" max="60" step="10" value="20" type="range" class="form-control-range" id="pricePriority">
        </div>
        <div class="col-1 my-auto">
          <p id="pricePriorityValueLabel">
            20%
          </p>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-4 form-group">
          <input id="submitButton" type="submit" value="Submit" class="btn btn-primary btn-block" />
        </div>
        <div class="col-1 my-auto">
          <p id="prioritySum" style="color: green">
            100%
          </p>
        </div>
      </div>
    </form>
  </div>
  @if(Model.RecommendedComputer != null)
  {
    <div class="col-md-6">
      <h4 class="mb-4">Recommended computer</h4>
      <h5 class="text-center">@Model.RecommendedComputer.Name</h5>
      <img src="@Url.Content($"~/images/{Model.RecommendedComputer.Image}")" style="width: 300px" class="img-fluid mx-auto d-block" />
      <div class="row mt-2">
        <div class="col-md-4">
          <p class="col-sm-12 mb-1" style="font-weight: 700;">
            @Html.DisplayNameFor(model => model.RecommendedComputer.CPU)
          </p>
          <p class="col-lg-12">
            @Html.DisplayFor(model => model.RecommendedComputer.CPU)
          </p>
          <p class="col-sm-12 mb-1" style="font-weight: 700;">
            @Html.DisplayNameFor(model => model.RecommendedComputer.Cores)
          </p>
          <p class="col-lg-12">
            @Html.DisplayFor(model => model.RecommendedComputer.Cores)
          </p>
          <p class="col-sm-12 mb-1" style="font-weight: 700;">
            Clock speed
          </p>
          <p class="col-lg-12">
            @Model.RecommendedComputer.ClockSpeed GHz
          </p>
        </div>
        <div class="col-md-4">
          <p class="col-sm-12 mb-1" style="font-weight: 700;">
            @Html.DisplayNameFor(model => model.RecommendedComputer.RAM)
          </p>
          <p class="col-lg-12">
            @Model.RecommendedComputer.RAM GB
          </p>
          <p class="col-sm-12 mb-1" style="font-weight: 700;">
            @Html.DisplayNameFor(model => model.RecommendedComputer.Storage)
          </p>
          <p class="col-lg-12">
            @Model.RecommendedComputer.Storage GB
          </p>
          <p class="col-sm-12 mb-1" style="font-weight: 700;">
            @Html.DisplayNameFor(model => model.RecommendedComputer.GPU)
          </p>
          <p class="col-lg-12">
            @Html.DisplayFor(model => model.RecommendedComputer.GPU)
          </p>
        </div>
        <div class="col-md-4">
          <p class="col-sm-12 mb-1" style="font-weight: 700;">
            @Html.DisplayNameFor(model => model.RecommendedComputer.Color)
          </p>
          <p class="col-lg-12">
            @Html.DisplayFor(model => model.RecommendedComputer.Color)
          </p>
          <p class="col-sm-12 mb-1" style="font-weight: 700;">
            @Html.DisplayNameFor(model => model.RecommendedComputer.Price)
          </p>
          <p class="col-sm-12">
            @Model.RecommendedComputer.Price&euro;
          </p>
          <a class="btn btn-primary btn-block" asp-controller="Computer" asp-action="Details" asp-route-id="@Model.RecommendedComputer.Id">Buy</a>
        </div>
      </div>
    </div>
  }
</div>
