@model IEnumerable<ComputerShop.Models.CartItem>

@{
    ViewData["Title"] = "Index";
}

<h1>My cart</h1>

<table class="table" id="cart-table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if(Model != null)
{
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Content($"~/images/{item.Image}")" style="width: 70px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <div class="quantity-column">
                    <a asp-action="IncreaseQuantity" asp-route-id="@item.Id"><i class="fas fa-plus"></i></a>
                    
                    <p>@item.Quantity</p>
                    <a href=""><i class="fas fa-minus"></i></a>
                </div>
            </td>
        </tr>
    }
}
    </tbody>
</table>
